* {
  font-size: 62.5%;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: Dolce;
  src: url(../fonts/Dolce.ttf); }

@font-face {
  font-family: DolceBold;
  src: url(../fonts/DolceBold.ttf); }

.mainContact {
  width: 100vw;
  height: 73vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  text-align: center; }
  .mainContact .formContact {
    background: #0cebeb;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #29ffc6, #20e3b2, #0cebeb);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #29ffc6, #20e3b2, #0cebeb);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 20px 20px 62px #9d9d9d, -20px -20px 62px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    border-radius: 10px; }
    .mainContact .formContact div {
      color: black; }
    .mainContact .formContact input {
      width: 55vw;
      margin-bottom: 1rem;
      text-align: center; }
    .mainContact .formContact textarea {
      padding: 0.5rem; }
    .mainContact .formContact div .mainContact__button {
      border-radius: 10px;
      background-color: cadetblue;
      color: white;
      margin: 1rem; }
      .mainContact .formContact div .mainContact__button:hover {
        background-color: #29ffc6;
        box-shadow: 3px 3px grey;
        color: teal; }
      .mainContact .formContact div .mainContact__button:active {
        box-shadow: none;
        color: blueviolet; }
    .mainContact .formContact .msjForm {
      font-size: 1.5rem;
      background-color: white;
      padding: 1rem;
      text-align: center; }
      .mainContact .formContact .msjForm span {
        font-size: 1.5rem;
        color: teal; }
      .mainContact .formContact .msjForm p {
        font-size: 1.5rem; }

@media (min-width: 768px) {
  .mainContact .formContact input {
    width: 45vw;
    font-size: 2rem; }
  .mainContact .formContact textarea {
    font-size: 2rem;
    padding: 0.5rem;
    width: 45vw; }
  .mainContact .formContact div .mainContact__button {
    font-size: 2rem; }
  .mainContact .formContact .msjForm {
    font-size: 2rem; }
    .mainContact .formContact .msjForm span {
      font-size: 2rem; }
    .mainContact .formContact .msjForm p {
      font-size: 2rem; } }

@media (min-width: 1200px) {
  .mainContact .formContact input {
    width: 20vw;
    font-size: 1.5rem; }
  .mainContact .formContact textarea {
    width: 20vw;
    font-size: 1.5rem; } }

header .navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw; }
  header .navbar div .navbar-brand {
    font-family: "DolceBold";
    font-size: 2rem;
    transition: 0.5s; }
    header .navbar div .navbar-brand h1 {
      display: inline-block; }
    header .navbar div .navbar-brand img {
      height: 10vh; }
    header .navbar div .navbar-brand:hover {
      transform: scale(1.1);
      -webkit-filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.445));
      filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.479));
      color: crimson; }
  header .navbar .navbar-toggler {
    position: fixed;
    font-size: 2rem;
    right: 2rem;
    top: 3.9vh; }
  header .navbar div ul .dropdown {
    display: flex;
    align-items: center; }
    header .navbar div ul .dropdown a {
      color: rgba(0, 0, 0, 0.55);
      text-decoration: none; }
      header .navbar div ul .dropdown a:hover {
        color: teal;
        text-shadow: 2px 2px 2px #97979754; }
    header .navbar div ul .dropdown ul .dropdown-item:hover {
      color: white;
      background-color: teal; }
    header .navbar div ul .dropdown .dropdown-toggle {
      padding-left: 0.5rem; }
  header .navbar div ul li {
    font-size: 2rem; }
    header .navbar div ul li .nav-link:hover {
      color: teal;
      text-shadow: 2px 2px 2px #97979754; }
    header .navbar div ul li .paginaActual {
      color: teal; }
      header .navbar div ul li .paginaActual:hover {
        text-shadow: 2px 2px 2px #97979754; }

header .retoquesNav {
  font-family: "Dolce";
  padding: 0.5rem;
  background: whitesmoke;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, white, whitesmoke, whitesmoke, #d9dcdd);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

@media (min-width: 560px) {
  header .navbar div .navbar-brand {
    padding-left: 1rem;
    font-size: 3rem; }
  header .navbar .navbar-toggler {
    font-size: 3rem;
    top: 3.9vh;
    right: 4rem; }
  header .navbar div ul li {
    font-size: 3rem;
    padding-left: 2rem; } }

@media (min-width: 1200px) {
  header .navbar div ul li {
    font-size: 2.5rem;
    padding-left: 2rem; }
    header .navbar div ul li ul li {
      font-size: 2rem; } }

@media (min-width: 1600px) {
  header .navbar div ul li {
    font-size: 3rem;
    padding-left: 2rem; }
    header .navbar div ul li ul li {
      font-size: 2.5rem; } }

.retoquesFooter {
  position: fixed;
  bottom: 0;
  padding: 1rem;
  background: whitesmoke;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, white, whitesmoke, whitesmoke, #d9dcdd);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100vw;
  padding-right: 2rem; }
  .retoquesFooter div .text-muted {
    font-size: 0.8rem;
    font-family: "Dolce"; }
    .retoquesFooter div .text-muted p {
      margin-bottom: 0;
      font-size: 1.5rem;
      color: teal; }
  .retoquesFooter ul li img {
    height: 30px;
    transition: 0.5s; }
    .retoquesFooter ul li img:hover {
      transform: scale(1.3);
      -webkit-filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.445));
      filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.479)); }

@media (min-width: 768px) {
  .retoquesFooter div .text-muted {
    font-size: 1.5rem;
    padding-left: 1rem; }
    .retoquesFooter div .text-muted p {
      font-size: 2rem; }
  .retoquesFooter ul li img {
    height: 50px; } }

@media (min-width: 1200px) {
  .retoquesFooter div .text-muted {
    font-size: 1rem; }
    .retoquesFooter div .text-muted p {
      font-size: 1.5rem; }
  .retoquesFooter ul li img {
    height: 40px; } }

.mainHome {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(../images/HomeSmall.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

@media (min-width: 560px) {
  .mainHome {
    background-image: url(../images/HomeMedium.jpg); } }

@media (min-width: 1200px) {
  .mainHome {
    background-image: url(../images/Home.jpg); } }

.mainBio {
  padding-top: 14vh;
  padding-bottom: 7vh;
  display: flex;
  justify-content: center; }
  .mainBio .desktop {
    display: none; }
  .mainBio .mobile div {
    display: flex;
    justify-content: center; }
    .mainBio .mobile div img {
      width: 100%;
      border-radius: 15px;
      box-shadow: 2px 2px 5px rgba(58, 57, 57, 0.205); }
  .mainBio .mobile div p {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center; }

@media (min-width: 768px) {
  .mainBio .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100vw;
    height: 75vh; }
    .mainBio .desktop div {
      width: 40vw; }
      .mainBio .desktop div img {
        width: 100%;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(58, 57, 57, 0.205); }
    .mainBio .desktop div {
      width: 43vw; }
      .mainBio .desktop div p {
        font-size: 1.5rem;
        text-align: center;
        padding: 2rem;
        border-bottom: 1px solid teal;
        border-radius: 10px; }
  .mainBio .mobile {
    display: none; } }

@media (min-width: 1100px) {
  .mainBio .desktop div {
    width: 35vw; }
  .mainBio .desktop div p {
    font-size: 1.8rem; } }

@media (min-width: 1600px) {
  .mainBio .desktop div {
    width: 25vw; }
  .mainBio .desktop div p {
    font-size: 1.8rem; } }

.mainContact {
  height: 90vh;
  padding-top: 12vh; }

.mainPlayer {
  padding-top: 13vh;
  padding-bottom: 8vh;
  width: 100vw; }
  .mainPlayer .contenedorPlayer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .mainPlayer .contenedorPlayer img {
      width: 80vw;
      box-shadow: 3px 3px 5px rgba(46, 45, 45, 0.205);
      border-radius: 50px;
      margin: 1rem;
      margin-top: 1.5rem;
      cursor: pointer;
      transition: 0.5s; }
      .mainPlayer .contenedorPlayer img:hover {
        transform: scale(1.1); }
      .mainPlayer .contenedorPlayer img:active {
        transform: translateY(1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
    .mainPlayer .contenedorPlayer .modal-content {
      margin-top: 13vh;
      background-color: transparent;
      border: none; }
      .mainPlayer .contenedorPlayer .modal-content iframe {
        border: 3px solid teal;
        border-radius: 10px;
        width: 100%;
        height: 55vh; }

@media (min-width: 768px) {
  .mainPlayer .contenedorPlayer img {
    width: 40vw; } }

@media (min-width: 1200px) {
  .mainPlayer .contenedorPlayer img {
    width: 20vw; }
  .mainPlayer .contenedorPlayer .modal-content iframe {
    height: 70vh; } }

@media (min-width: 1600px) {
  .mainPlayer {
    display: flex;
    align-items: center;
    height: 100vh; }
    .mainPlayer .contenedorPlayer {
      padding: 0 10rem; }
      .mainPlayer .contenedorPlayer img {
        width: 15vw; } }

.containerSideProjects {
  display: flex;
  flex-wrap: wrap;
  padding-top: 12vh;
  padding-bottom: 8vh; }
  .containerSideProjects .microCosmos {
    background-image: url("../images/Microcosmos.jpg"); }
  .containerSideProjects .beastOfClay {
    background-image: url("../images/Beast of clay.jpg"); }
  .containerSideProjects .asuntosInternos {
    background-image: url("../images/Asuntos Internos.jpg"); }
  .containerSideProjects .ost {
    background-image: url("../images/music_score.jpg"); }
    .containerSideProjects .ost a {
      background-color: orangered !important; }
  .containerSideProjects .microCosmos,
  .containerSideProjects .beastOfClay,
  .containerSideProjects .asuntosInternos,
  .containerSideProjects .ost {
    width: 75vw;
    height: 42vh;
    background-size: cover;
    background-position: center;
    margin: 2rem auto;
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(46, 45, 45, 0.205); }
    .containerSideProjects .microCosmos:hover,
    .containerSideProjects .beastOfClay:hover,
    .containerSideProjects .asuntosInternos:hover,
    .containerSideProjects .ost:hover {
      transform: scale(1.1); }
      .containerSideProjects .microCosmos:hover:hover .info,
      .containerSideProjects .beastOfClay:hover:hover .info,
      .containerSideProjects .asuntosInternos:hover:hover .info,
      .containerSideProjects .ost:hover:hover .info {
        opacity: 1; }
    .containerSideProjects .microCosmos .info,
    .containerSideProjects .beastOfClay .info,
    .containerSideProjects .asuntosInternos .info,
    .containerSideProjects .ost .info {
      position: absolute;
      width: 75vw;
      height: 42vh;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      border-radius: 10px;
      opacity: 0;
      transition: opacity 0.3s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto; }
      .containerSideProjects .microCosmos .info .alignShadow, .containerSideProjects .microCosmos .info h6,
      .containerSideProjects .microCosmos .beastOfClay .info h6, .containerSideProjects .beastOfClay .microCosmos .info h6,
      .containerSideProjects .microCosmos .asuntosInternos .info h6, .containerSideProjects .asuntosInternos .microCosmos .info h6,
      .containerSideProjects .microCosmos .ost .info h6, .containerSideProjects .ost .microCosmos .info h6, .containerSideProjects .microCosmos .info p,
      .containerSideProjects .microCosmos .beastOfClay .info p, .containerSideProjects .beastOfClay .microCosmos .info p,
      .containerSideProjects .microCosmos .asuntosInternos .info p, .containerSideProjects .asuntosInternos .microCosmos .info p,
      .containerSideProjects .microCosmos .ost .info p, .containerSideProjects .ost .microCosmos .info p, .containerSideProjects .microCosmos .info a,
      .containerSideProjects .microCosmos .beastOfClay .info a, .containerSideProjects .beastOfClay .microCosmos .info a,
      .containerSideProjects .microCosmos .asuntosInternos .info a, .containerSideProjects .asuntosInternos .microCosmos .info a,
      .containerSideProjects .microCosmos .ost .info a, .containerSideProjects .ost .microCosmos .info a,
      .containerSideProjects .beastOfClay .info .alignShadow,
      .containerSideProjects .beastOfClay .microCosmos .info h6,
      .containerSideProjects .microCosmos .beastOfClay .info h6,
      .containerSideProjects .beastOfClay .info h6,
      .containerSideProjects .beastOfClay .asuntosInternos .info h6,
      .containerSideProjects .asuntosInternos .beastOfClay .info h6,
      .containerSideProjects .beastOfClay .ost .info h6,
      .containerSideProjects .ost .beastOfClay .info h6,
      .containerSideProjects .beastOfClay .microCosmos .info p,
      .containerSideProjects .microCosmos .beastOfClay .info p,
      .containerSideProjects .beastOfClay .info p,
      .containerSideProjects .beastOfClay .asuntosInternos .info p,
      .containerSideProjects .asuntosInternos .beastOfClay .info p,
      .containerSideProjects .beastOfClay .ost .info p,
      .containerSideProjects .ost .beastOfClay .info p,
      .containerSideProjects .beastOfClay .microCosmos .info a,
      .containerSideProjects .microCosmos .beastOfClay .info a,
      .containerSideProjects .beastOfClay .info a,
      .containerSideProjects .beastOfClay .asuntosInternos .info a,
      .containerSideProjects .asuntosInternos .beastOfClay .info a,
      .containerSideProjects .beastOfClay .ost .info a,
      .containerSideProjects .ost .beastOfClay .info a,
      .containerSideProjects .asuntosInternos .info .alignShadow,
      .containerSideProjects .asuntosInternos .microCosmos .info h6,
      .containerSideProjects .microCosmos .asuntosInternos .info h6,
      .containerSideProjects .asuntosInternos .beastOfClay .info h6,
      .containerSideProjects .beastOfClay .asuntosInternos .info h6,
      .containerSideProjects .asuntosInternos .info h6,
      .containerSideProjects .asuntosInternos .ost .info h6,
      .containerSideProjects .ost .asuntosInternos .info h6,
      .containerSideProjects .asuntosInternos .microCosmos .info p,
      .containerSideProjects .microCosmos .asuntosInternos .info p,
      .containerSideProjects .asuntosInternos .beastOfClay .info p,
      .containerSideProjects .beastOfClay .asuntosInternos .info p,
      .containerSideProjects .asuntosInternos .info p,
      .containerSideProjects .asuntosInternos .ost .info p,
      .containerSideProjects .ost .asuntosInternos .info p,
      .containerSideProjects .asuntosInternos .microCosmos .info a,
      .containerSideProjects .microCosmos .asuntosInternos .info a,
      .containerSideProjects .asuntosInternos .beastOfClay .info a,
      .containerSideProjects .beastOfClay .asuntosInternos .info a,
      .containerSideProjects .asuntosInternos .info a,
      .containerSideProjects .asuntosInternos .ost .info a,
      .containerSideProjects .ost .asuntosInternos .info a,
      .containerSideProjects .ost .info .alignShadow,
      .containerSideProjects .ost .microCosmos .info h6,
      .containerSideProjects .microCosmos .ost .info h6,
      .containerSideProjects .ost .beastOfClay .info h6,
      .containerSideProjects .beastOfClay .ost .info h6,
      .containerSideProjects .ost .asuntosInternos .info h6,
      .containerSideProjects .asuntosInternos .ost .info h6,
      .containerSideProjects .ost .info h6,
      .containerSideProjects .ost .microCosmos .info p,
      .containerSideProjects .microCosmos .ost .info p,
      .containerSideProjects .ost .beastOfClay .info p,
      .containerSideProjects .beastOfClay .ost .info p,
      .containerSideProjects .ost .asuntosInternos .info p,
      .containerSideProjects .asuntosInternos .ost .info p,
      .containerSideProjects .ost .info p,
      .containerSideProjects .ost .microCosmos .info a,
      .containerSideProjects .microCosmos .ost .info a,
      .containerSideProjects .ost .beastOfClay .info a,
      .containerSideProjects .beastOfClay .ost .info a,
      .containerSideProjects .ost .asuntosInternos .info a,
      .containerSideProjects .asuntosInternos .ost .info a,
      .containerSideProjects .ost .info a {
        text-align: center;
        text-shadow: 1px 1px 2px black;
        color: white; }
      .containerSideProjects .microCosmos .info h6,
      .containerSideProjects .beastOfClay .info h6,
      .containerSideProjects .asuntosInternos .info h6,
      .containerSideProjects .ost .info h6 {
        width: auto;
        font-size: 3rem;
        padding-bottom: 1rem; }
      .containerSideProjects .microCosmos .info p,
      .containerSideProjects .beastOfClay .info p,
      .containerSideProjects .asuntosInternos .info p,
      .containerSideProjects .ost .info p {
        font-family: sans-serif;
        font-size: 1.5rem;
        width: 90%;
        padding-bottom: 0.5rem; }
      .containerSideProjects .microCosmos .info a,
      .containerSideProjects .beastOfClay .info a,
      .containerSideProjects .asuntosInternos .info a,
      .containerSideProjects .ost .info a {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        height: 10%;
        width: 40%;
        background-color: red;
        border-radius: 15px; }
        .containerSideProjects .microCosmos .info a:hover,
        .containerSideProjects .beastOfClay .info a:hover,
        .containerSideProjects .asuntosInternos .info a:hover,
        .containerSideProjects .ost .info a:hover {
          transform: translateY(-1px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
          color: white; }
        .containerSideProjects .microCosmos .info a:active,
        .containerSideProjects .beastOfClay .info a:active,
        .containerSideProjects .asuntosInternos .info a:active,
        .containerSideProjects .ost .info a:active {
          transform: translateY(1px);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }

@media (min-width: 768px) {
  .containerSideProjects .microCosmos,
  .containerSideProjects .beastOfClay,
  .containerSideProjects .asuntosInternos,
  .containerSideProjects .ost {
    width: 44vw;
    height: 32.5vh;
    margin: 1rem; }
    .containerSideProjects .microCosmos .info,
    .containerSideProjects .beastOfClay .info,
    .containerSideProjects .asuntosInternos .info,
    .containerSideProjects .ost .info {
      width: 44vw;
      height: 32.5vh; }
      .containerSideProjects .microCosmos .info h6,
      .containerSideProjects .beastOfClay .info h6,
      .containerSideProjects .asuntosInternos .info h6,
      .containerSideProjects .ost .info h6 {
        font-size: 3rem;
        margin-bottom: 1rem; }
      .containerSideProjects .microCosmos .info p,
      .containerSideProjects .beastOfClay .info p,
      .containerSideProjects .asuntosInternos .info p,
      .containerSideProjects .ost .info p {
        font-size: 1.5rem; }
      .containerSideProjects .microCosmos .info a,
      .containerSideProjects .beastOfClay .info a,
      .containerSideProjects .asuntosInternos .info a,
      .containerSideProjects .ost .info a {
        margin-top: 1rem;
        font-size: 2.5rem; } }

@media (min-width: 1200px) {
  .containerSideProjects {
    justify-content: center;
    align-items: center;
    height: 100vh; }
    .containerSideProjects .microCosmos,
    .containerSideProjects .beastOfClay,
    .containerSideProjects .asuntosInternos,
    .containerSideProjects .ost {
      width: 23vw;
      height: 50vh; }
      .containerSideProjects .microCosmos .info,
      .containerSideProjects .beastOfClay .info,
      .containerSideProjects .asuntosInternos .info,
      .containerSideProjects .ost .info {
        width: 23vw;
        height: 50vh; }
        .containerSideProjects .microCosmos .info h6,
        .containerSideProjects .beastOfClay .info h6,
        .containerSideProjects .asuntosInternos .info h6,
        .containerSideProjects .ost .info h6 {
          font-size: 3rem;
          margin-bottom: 1rem; }
        .containerSideProjects .microCosmos .info p,
        .containerSideProjects .beastOfClay .info p,
        .containerSideProjects .asuntosInternos .info p,
        .containerSideProjects .ost .info p {
          font-size: 1.5rem; }
        .containerSideProjects .microCosmos .info a,
        .containerSideProjects .beastOfClay .info a,
        .containerSideProjects .asuntosInternos .info a,
        .containerSideProjects .ost .info a {
          margin-top: 1rem;
          font-size: 2.5rem; } }

@media (min-width: 1600px) {
  .containerSideProjects .microCosmos,
  .containerSideProjects .beastOfClay,
  .containerSideProjects .asuntosInternos,
  .containerSideProjects .ost {
    width: 21vw;
    height: 45vh;
    margin: 2rem; }
    .containerSideProjects .microCosmos .info,
    .containerSideProjects .beastOfClay .info,
    .containerSideProjects .asuntosInternos .info,
    .containerSideProjects .ost .info {
      width: 21vw;
      height: 45vh; } }
