
@font-face {
	font-family: DolceVita;
	src: url(../../fonts/DolceVita.ttf);
}


@font-face {
	font-family: DolceVita;
	src: url(../../fonts/DolceVitaBold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: DolceVitaLite;
	src: url(../../fonts/DolceVitaLight.ttf);
}
